.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 200vh;
  background-color: #f1f7ff;
}
.Topbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #ffffff;
  border-bottom: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 15px;
  box-sizing: border-box;
  gap: 10px;
}

.backword {
  width: 35px;
  height: 35px;
  filter: invert();
  cursor: pointer;
}

.title {
  color: black;
  font-weight: 600;
  text-align: center;
  flex: 1;
}
.EmptyBox {
  width: 30px;
}

/* 이미 목표 달성에 성공한 프로젝트 */
.success-funding {
  background-color: #fff;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 10px;
}

.content-title {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
  width: 90%;
  padding-block: 12px;
}

.header-text {
  padding-block: 10px;
  font-size: 20px;
  font-weight: 600;
}

.best-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 */
  gap: 20px;
  column-gap: 30px;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}
.best-box {
  width: 100%;
  .best-img {
    background-color: gray;
    height: 170px;
  }
  p {
    margin: 0;
  }
}

.best-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.best-title {
  font-size: 15px;
  font-weight: 600;
  padding-top: 5px;
}

.best-container p:not(:first-of-type) {
  color: #303030;
  font-size: 10px;
  padding-top: 2px;
}
.best-box p:nth-of-type(3) {
  color: #5b44e7;
}
/* 여러 프로젝트들 */
.projects {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin: 0px 10px;
  /* justify-content: space-between; */
}

.project-box {
  /* width: ; */
  .soon-img {
    background-color: gray;
    height: 130px;
    border-radius: 5px;
  }
  p {
    margin: 0;
  }
}

.projects p:not(:first-of-type) {
  color: #303030;
  font-size: 10px;
  padding-top: 2px;
}

.project-box p:nth-of-type(3) {
  color: #5b44e7;
}

/* 마감 임박 프로젝트 */
.ad-container {
  height: 240px;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
}
.ad-box {
  width: 30%;

  .soon-img {
    background-color: gray;
    height: 130px;
    border-radius: 5px;
  }
  p {
    margin: 0;
  }
}

.soon-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.ad-title {
  font-size: 12px;
  font-weight: 600;
  padding-top: 5px;
}

.ad-container p:not(:first-of-type) {
  color: #303030;
  font-size: 10px;
  padding-top: 2px;
}

.ad-box p:nth-of-type(3) {
  color: #5b44e7;
}

/* 덕질 펀딩 프로젝트 */
.recommend-project {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.recommend-button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 8px;
  background-color: #d3e6fb;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  padding: 8px;
  box-shadow: 0 0 0 4px transparent;
}

.recommend-button.active {
  box-shadow: 0 0 0 4px #8ebff5; /* 파란색 간격 추가 */
  background-color: #bfdffc; /* 클릭 시 배경 색상 변경 (선택 사항) */
}

.recommend-button:hover {
  border-color: lightgray;
}

/* 마감 임박 프로젝트 */
.interest-funding {
  margin: 0;
}
.more-button {
  width: 90%;
  display: flex;
  cursor: pointer;
  justify-self: center;
  justify-content: center;
  padding-block: 10px;
  border-radius: 20px;
  background-color: #fff;
  color: #797979;
  border-color: #a6a6a6;
}

/* 성공한 프로젝트 전체보기 */
.success-funding {
  .more-button {
    margin-block: 10px;
    margin-top: 40px;
  }
}
