.ScheduleResearch {
  background-color: #f1f7ff;
  height: 150vh;
}
/* 이벤트 캘린더 */
.eventCalendarBox {
  background-color: #fff;
  margin-block: 0 16px;

  & nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 28px;
    & h3 {
      font-weight: 600;
      font-size: 20px;
      margin: 0;
    }

    & button {
      border: none;
      background-color: #e4e4e4;
      color: #585858;
      padding: 6px 11px;
      border-radius: 6px;
    }
  }
}

/* 이벤트 상세 여러가지들 박스*/
.eventBox {
  margin-block: 5px 0;
  list-style: none;
}
