:root {
  --bg-color: #ffffff;
  --sig-color: #f1f7ff;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 200vh;
  background-color: var(--sig-color);
}
.Topbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 15px;
  box-sizing: border-box;
  gap: 10px;
}

.backword {
  width: 35px;
  height: 35px;
  filter: invert();
  cursor: pointer;
}

.title {
  color: black;
  font-weight: 600;
  text-align: center;
  flex: 1;
}
.EmptyBox {
  width: 30px;
}

/* 탑 메뉴 */
.top-menu {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bg-color);
  width: 100%;
  height: 35px;
  .top-button {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    font-weight: 550;
    width: 100%;
    cursor: pointer;
  }
  .top-button:hover {
    background-color: var(--sig-color);
    transition: 0.2s;
  }
}
/* 순위 */

.funding-main {
  margin-top: 10px;
  h4 {
    text-align: center;
    margin-bottom: 0;
  }
}

/* 최고금액랭킹, 분야랭킹 스타일 */
.funding-area {
  margin-top: 10px;
  min-height: 370px;
  padding-inline: 14px;

  h4 {
    text-align: center;
    margin-block: 5px;
  }

  button {
    background-color: #98a0ff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #5361ff;
      transition: 0.2s;
    }
  }
}
.album-area {
  display: flex;
}

.album-img {
  background-color: gray;
  width: 50%;
  height: 200px;
  border-radius: 10px;
}

.more-container {
  p {
    margin: 0;
    margin-left: 10px;
  }

  p:nth-child(1) {
    font-weight: 600;
    font-size: 15px;
  }

  p:nth-child(2) {
    font-size: 12px;
    color: #848484;
    margin-block: 10px;
  }

  p:nth-child(3),
  p:nth-child(4) {
    font-size: 10px;
    color: #848484;
  }
}

.funding-count {
  display: flex;
  p {
    font-weight: 600;
  }
  p:nth-child(1) {
    color: #5d00de;
    margin-right: 5px;
  }
}
