/* 양 옆 넓이 컨테이너 */

.wrap_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 100px;
  min-width: 300px;
  gap: 20px;
}

/* 바로가기 */
.direct-box {
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6a6a6a;
}
.wide-text {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 5px;
}
.direct-list {
  list-style: none;
  padding-left: 10px;
}

.list-item {
  border-bottom: 0.2px solid #585858;
  padding-bottom: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  &:hover {
    animation: bounceEffect 0.5s ease;
  }
}
@keyframes bounceEffect {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* 위로 튀기 */
  }
}
/* 마지막 선 없음 */
.list-item:last-child {
  border-bottom: none;
}

.direct-link {
  color: #dcdcdc;
  /* text-decoration: none; */
}

.icon-text {
  width: 20px;
  height: 20px;
}

/* 노바 펀딩 바로가기 */
.nova_direct-box {
  background-color: #eaeeff;
  padding: 3px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #000000;
}
.go-nova {
  color: #1b1b1b;
  border-radius: 5px;
  text-decoration: none;
  padding: 15px;
  font-weight: 500;
}

/* 검색하기 */
.search-box {
  background-color: #000000;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #6a6a6a;
  height: 500px;
}
.search-bar {
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding-block: 5px;
  padding-inline: 10px;
  justify-content: space-between;
  border: 1px solid #000000;
  input {
    background-color: white;
    border: 0;
    width: 90%;
  }

  button {
    background-color: white;
    border: 0;
    cursor: pointer;
  }
}
.search-memo {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-inline: 5px;

  p {
    color: #a1a1a1;
  }
}

/* 광고 */
.ad-container {
  background-color: #afafaf;
  color: white;
  height: 600px;
}

/* 급상승 해시태그 */
.top-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
}
.hashtag-box {
  width: 100%;
  height: 460px;
  background-color: #000000;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  border: 1px solid #6a6a6a;
}
.ranking-box-w {
  margin-block: 10px !important;
}

/* -------------------- */
/* 다크모드 라이트모드  */
.dark-mode {
  color: #ffffff;
}

.light-mode {
  color: #000000;
}

/* 바로가기 */
.direct-box.light-mode {
  background-color: #eaeeff;
  border: 1px solid #000000;
}
.direct-link.light-mode {
  color: #1b1b1b;
}

/* 검색하기 */
.search-box.light-mode {
  background-color: #eaeeff;
  border: 1px solid #000000;
}

/* 급상승 해시태그 */
.hashtag-box.light-mode {
  background-color: #eaeeff;
  border: 1px solid #000000;
}

/* 검색기록 */
.search-history {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
