h2 {
  padding: 20px;
  margin: 0;
}

.CategoryModal {
  /* width: 90%; */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  width: 80%;
  height: 100%;
  background-color: white;
}

/* 게시판 */
.Board {
  width: 100%;
  /* background-color: gray; */
}

.Board_title {
  /* background-color: aqua; */
  margin: 0 auto;
  padding: 10px;
  width: 85%;
}
