.LinkBox_container {
  display: flex;
  gap: 10px;
}

.LinkBox {
  width: 70px;
  height: 70px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 5px;
}

.LinkBox_img {
  margin-top: 3px;
  width: 50px;
  height: 50px;
  /* background-color: blue; */
}
