.progress-container {
  margin-top: 2px;
  width: 95%;
  height: 10px;
  border-radius: 100px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1px;
  /* justify-content: center; */
}

.progress-container-feed {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  justify-content: center;
}

.progress-bar {
  height: 100%;
  background-color: #3e276d;
  /* background: linear-gradient(135deg, rgba(194, 166, 240, 0.7), rgba(140, 184, 252, 0.5)); */
  /* border: white 1px solid; */
  /* width: 100%; */
  border-radius: 100px;
  transition: 2s;
}
