/* 와이드버전 */
.widever-style {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}
.empty-box {
  width: 100px;
}

@media (max-width: 1024px) {
  .empty-box {
    display: none;
  }
}

/* Topbar */
.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background-color: #f1f7ff;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
}

.img-box {
  background-color: gray;
  width: 100%;
  height: 270px;
  display: flex;
  position: relative;
}
.arrow-icon {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-end: 10px;
}

/* 이런 펀딩 프로젝트는 어때요? */
.recommend-box {
  width: 100%;
  min-height: 180px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  padding: 20px;
  padding-bottom: 0;
}
.title-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  .title-text {
    margin: 0;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .more-icon {
    width: 40px;
    transform: scaleX(-1);
  }
}
.more-text {
  margin: 0;
  margin-bottom: 15px;
}
.tag-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 10px;
  white-space: nowrap;
  gap: 10px;
  /* width: 500px; */
  /* overflow: auto; */
  margin-bottom: 10px;
  justify-content: start;
}

.hashtag-text {
  background-color: #98a0ff;
  color: #ffffff;
  border: 0;
  border-radius: 20px;
  padding: 8px 35px;
  min-width: 80px;
  flex-shrink: 0;
}

.ad-container {
  height: 240px;
  display: flex;
  justify-content: space-between;
}
.ad-box {
  width: 30%;

  .img {
    background-color: white;
    height: 130px;
    border-radius: 5px;
  }
  p {
    margin: 0;
  }
}

.img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ad-title {
  font-size: 12px;
  font-weight: 600;
  padding-top: 5px;
}

.ad-container p:not(:first-of-type) {
  color: #303030;
  font-size: 10px;
  padding-top: 2px;
}

/* 진행 중인 최애펀딩 */
.best-funding {
  width: 90%;
  min-height: 400px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.best-title {
  text-align: center;

  .top-title {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
  }
  .top-title h4 {
    flex: 1;
    font-size: 20px;
  }

  .top-title a {
    position: absolute;
    right: 0;
    cursor: pointer;
    text-decoration: underline;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
    color: #4f4f4f;
  }
}

.funding-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  min-height: 400px;
  border-radius: 10px;
}

.album-area {
  text-align: center;
  margin-top: 30px;
  color: black;

  .album-img {
    width: 160px;
    height: 160px;
    background-color: rgb(243, 243, 243);
    margin: 0 auto;
    border-radius: 5px;
  }
}

.album-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-container {
  padding: 0 30px;
  display: grid;
  color: black;
}

.more-container > :nth-child(3) {
  text-align: center;
}

.progress-bar {
  display: flex;
  align-items: center;
  height: 20px;
  gap: 5px;
}

.more-container progress {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.more-container button {
  margin: 10px;
  display: flex;
  justify-self: center;
  background-color: #98a0ff;
  color: black;
  border: 0;
  border-radius: 5px;
  padding: 3px 60px;
}

/* 베스트 프로젝트 모두 보기 */
/* 이런펀딩프로젝트 어때요? 스타일 동시 적용 */

/* 진행중인 오픈 펀딩 */
.open-funding {
  width: 90%;
  min-height: 400px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.open-container {
  padding: 0;
  list-style-type: none;
  margin: 0;
  width: 100%;
}

.open-box {
  background-color: white;
  list-style-type: none;
  padding: 20px;
  display: flex;
  margin: 0;
  border-radius: 10px;
  margin-bottom: 10px;
}
.open-img {
  width: 100px;
  height: 100px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
}

.open-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-area {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-content: space-between;
  margin-left: 10px;
}
.who-text {
  justify-items: flex-start;
  display: grid;
  h4 {
    margin: 0;
  }

  p {
    justify-self: flex-start;
  }
}

.footer-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  time {
    font-size: 10px;
  }

  button {
    background-color: #98a0ff;
    color: #1c1c1c;
    margin-left: auto;
    border: 0;
    padding: 3px 20px;
    border-radius: 5px;
    font-size: 13px;
  }
}
/* 노바 펀딩 알아보기 */
.notice-nova {
  width: 100%;
  min-height: 600px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  padding: 20px;
  padding-bottom: 0;
}
.footer-area {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.area-box {
  border: 3px solid #d2c8f7;
  padding: 10px;
  width: 170px;
  height: 120px;
  border-radius: 15px;
  margin-bottom: 20px;
  font-weight: 600;
}

.last-project {
  background-color: white;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* 와이드 */
@media (min-width: 1024px) {
  .dis {
    display: none;
  }
}

/* 버튼 */
.moresee-btn {
  cursor: pointer;
}
