.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 250vh;
  background-color: #ffffff;
}
/* top-bar  */
.Topbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #ffffff;
  border-bottom: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 15px;
  box-sizing: border-box;
  gap: 10px;
}

.backword {
  width: 35px;
  height: 35px;
  filter: invert();
  cursor: pointer;
}
.title {
  color: black;
  font-weight: 600;
  text-align: center;
  flex: 1;
}
.EmptyBox {
  width: 30px;
}

/* 아티스트 정보 */
.info {
  padding-inline: 20px;
}
.artist_info {
  width: 100%;
}

.artist_img {
  height: 450px;
  width: 100%;
  background-color: #b3b3b3;
}

.artist_img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.artist_nav {
  display: flex;
  padding: 15px 0;
  align-items: center;
  div {
    height: 55px;
    width: 55px;
    background-color: #b3b3b3;
  }

  h3 {
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    color: #575757;
  }
  button {
    margin-left: auto;
    height: 30px;
    padding-inline: 15px;
    border: 0;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
}

/* 해시태그 */
.hashtag_box {
  span {
    color: #a0a0a0;
    margin-right: 5px;
  }
}

/* 펀딩 설명 */
.artist_exp {
  h4 {
    color: #575757;
    margin-block: 14px;
  }
}
.exp_text {
  font-size: 11px;
  color: #575757;
  line-height: 1.8;
}

/* 펀딩 현황 */
.funding_condition {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  margin-top: 25px;

  p {
    margin: 10px 0;
    color: #98a0ff;
    font-size: 15px;
    font-weight: 600;
  }
  span {
    color: #9c9c9c;
    font-size: 15px;
    font-weight: 600;
  }
}

/* 수령방법 지지자 특별혜택 */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  width: 90%;
}

.grid-item {
  padding: 5px;
  font-size: 15px;
  color: #6c6c6c;
}

/* 상품소개 페이지  */
.product-box {
  /* height: 800px; */
  width: 100%;
  border-block: 1px solid #dcdcdc;
  margin-top: 5px;
  background-color: #ebebeb;
}

/* 노바 플랫폼 관련 박스 */
.nova-platform-box {
  border: 2px solid #6f6f6f;
  width: 85%;
  margin: 20px 0;
  border-radius: 10px;
  padding: 20px;
}

.box-title {
  display: flex;
  align-items: center;

  img {
    width: 25px;
    height: 25px;
  }
  h3 {
    font-weight: 300;
    font-size: 17px;
    margin-left: 5px;
    margin-block: 0;
  }
}

.nova_box-text {
  font-size: 12px;
  color: #575757;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.nova-button {
  background-color: white;
  border: 1px solid #eee9fc;
  border-radius: 5px;
  width: 45%;
  color: #575757;
  font-size: 12px;
  padding-block: 5px;
  cursor: pointer;
}

/* 후원 프로젝트 */

.support_pj {
  width: 90%;
}

.hold_ticket {
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  div {
    display: flex;
    justify-content: end;
    font-weight: 600;
    color: #947df0;
    margin-bottom: 10px;
    p {
      margin: 0;
      color: black;
      margin-right: 10px;
    }
    input {
      background-color: #f1f1f1;
      border: 0;
      border-radius: 5px;
      margin-right: 5px;
    }
  }
  button {
    display: flex;
    justify-content: end;
    justify-self: end;
    background-color: white;
    border: 1px solid #f4f1fd;
    padding: 5px 15px;
    border-radius: 5px;
  }
}

.button-style {
  display: flex;
  gap: 10px;
  & button:nth-of-type(2) {
    background-color: #eee9fc;
    border: 0;
  }
}

.donater {
  width: 80%;
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    border: 2px solid #8e8e8e;
    border-radius: 5px;
    li {
      display: flex;
      width: 100%;
      border-bottom: 1px solid #e1e1e1;

      p {
        color: #575757;
        font-size: 13px;
      }
      & p:nth-of-type(1) {
        color: #434dff;
        margin-right: 10px;
        margin-left: 10px;
      }

      & p:nth-of-type(3) {
        margin-left: auto;
        margin-right: 10px;
      }
    }
    button {
      width: 80%;
      margin-block: 10px;
      padding-block: 5px;
      background-color: white;
      border: 1px solid #eee9fc;
      border-radius: 5px;
      color: #575757;
    }
  }
}

.hr-style {
  border: none;
  height: 3px;
  background-color: #e0e7f0;
  opacity: 1;
}

/* 참여프로젝트 */
.select_funding {
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.select_funding > div {
  display: flex;

  p {
    margin: 0;
    font-size: 14px;
  }

  & p:nth-of-type(2) {
    color: #434dff;
    margin-left: 10px;
  }
  & p:nth-of-type(3) {
    margin-left: auto;
    color: #434dff;
  }
}

/* button {
  align-self: flex-end;
  padding: 5px 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #eee9fc;
} */

.funding-list {
  li {
    font-size: 14px;
  }
  ul {
    padding-left: 10px;
  }
}
