.banner-slider {
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.slick-track {
  display: flex !important; /* 슬라이드들을 플렉스 컨테이너로 처리 */
  white-space: nowrap !important; /* 줄바꿈 방지 */
}

.slick-list {
  padding: 0 !important; /* 슬라이더 리스트의 기본 패딩 제거 */
  margin: 0 !important; /* 필요 시 마진도 제거 */
}

.slick-slide {
  padding: 0 !important; /* 슬라이드의 패딩 제거 */
}

.inner-slick-slide-component {
  padding-left: 20px;
  padding-right: 7px;
  width: 100px !important ;
  height: 240px;
  display: flex;
  flex-direction: column;

  .new-img {
    background-color: gray;
    width: 120px;
    height: 164px;
    margin-right: 7px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  span {
    color: #595959;
    font-size: 15px;
    width: 140px;
  }

  p {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100px;
  }

  .banner-p-title {
    font-size: 14px;
    font-weight: 400;
  }

  .banner-p-tag {
    font-size: 12px;
    color: #107bf4;
    font-weight: 500;
  }
}

.section-separator {
  width: 100%;
  height: 5px;
  background-color: #f1f7ff;
  margin: 0 auto;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  color: #595959;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
}

.highlight {
  color: #0076ee; /* 파란색 */
}

.contribute-point-background {
  height: 434px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contribute-point-box {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  height: 393px;
  display: flex;
  flex-direction: column; /* 세로 방향 배치 */
  background: linear-gradient(135deg, #2e92fe 0%, #1979e1 60%, #005bbe 100%);
  border-radius: 15px;
  border-bottom: #134f91 3px solid;
}

.bias-detail-section {
  height: 40.5%;
  display: flex;
}

.bias-profile-image {
  flex: 0 40%;
  margin: 4%;
  width: calc(40%); /* 부모 높이와 동기화 */
  max-width: 120px;
  min-width: 80px;
  background-color: #d1d1d1;
}

.bias-name-n-point-box {
  flex: 1 60%;
  margin: 4%;
  align-content: center;
  justify-items: end;

  .bias-name {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .bias-point {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    color: #595959;
    background-color: white;
    border-radius: 8px;
    padding: 6px 0px;
    text-align: end;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.my-point-section {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 0px 20px;
  padding-bottom: 20px;
  height: 59.5%;
}

.point-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  border-radius: 14px;
  background-color: #ffffff;
  padding: 0px 10px;

  .title {
    margin: 0;
    margin-top: 10px;
    /* margin-left: 10px; */
    font-size: 20px;
    color: #3d3d3d;
    font-weight: 500;
  }

  .point {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }

  .action-button {
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 10px 50px;
    background-color: #d0e4ff;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

.my-point-box {
  flex: 1 50% auto;
  width: 50%;
  height: 100%;
  background-color: #ff8999;
}
