:root {
  --sg-color: #5b44e7;
  --wh-color: white;
}
.container {
  height: 100%;
}
.Topbar {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background-color: var(--wh-color);

  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5px 15px;
  box-sizing: border-box;
  gap: 10px;
}
.backword {
  z-index: 2;
}
/* 위에 새로운 것 */
.new-box {
  z-index: 2;
  width: 200px;
  color: black;
  margin-top: 25px;

  h3 {
    font-size: 23px;
    color: var(--wh-color);
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 12px;
    color: var(--wh-color);
    margin-block: 5px;
  }
  button {
    margin-top: 5px;
    border: 0;
    padding: 5px 12px;
    border-radius: 2px;
    color: #262626;
    font-weight: 600;
    font-size: 12px;
  }
}
.new-fav {
  margin: 0;
  margin-top: auto;
  color: var(--wh-color);
  z-index: 2;
  font-size: 14px;
}
.new-list {
  width: 100%;
  height: 280px;
  background: #e0e7f0;
  padding-inline: 5px;

  .new-img {
    background-color: gray;
    height: 220px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .new-title {
    padding: 5px;
  }
  span {
    color: #595959;
    font-size: 15px;
  }

  p {
    margin: 0;
    color: var(--sg-color);
    font-size: 12px;
    color: #107BF4;
  }
}

.ShadowOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.SliderContainer {
  width: 100%;
  overflow: hidden;
}

/*추천하는 프로젝트 */
.success-funding {
  margin: 0;
  padding-top: 20px;
  .content-title {
    padding-block: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding-left: 20px;
  }
}

.project-list {
  display: flex;
  margin-block: 15px;

  .pj-img {
    background: gray;
    width: 120px;
    height: 160px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.pj-des {
  margin-left: 20px;
  position: relative;
  width: 70%;
  p {
    margin: 0;
  }
  h4 {
    margin: 0;
    margin-bottom: 5px;
  }
  & p:nth-of-type(1) {
    color: var(--sg-color);
    font-size: 12px;
  }
  & p:nth-of-type(2) {
    color: #595959;
    font-size: 13px;
  }
  & p:nth-of-type(3) {
    color: #a3a3a3;
    font-size: 13px;
  }
  & p:nth-of-type(4) {
    font-size: 16px;
    font-weight: 600;
    color: var(--sg-color);
    position: absolute;
    bottom: 20px;
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    padding: 5px 12px;
    border-radius: 2px;
    color: #262626;
    font-weight: 600;
    font-size: 12px;
  }
}

.hr-style {
  border: none;
  height: 3px;
  background-color: #e0e7f0;
  opacity: 1;
}

/* 전체보기 페이지 */
.moresee_button {
  display: flex;
  justify-self: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #a6a6a6;
  color: #797979;
  padding: 10px;
  border-radius: 20px;
  width: 80%;
}
